# @BotFather dan olingan token
TELEGRAM_BOT_TOKEN=8894896631:AAGg2WQn5lPSZrmr4setKkR-O3lqW53std8

# HRMM backend (Railway)
HRMM_API_BASE_URL=hrmm-production-b4ec.up.railway.app

# Sessiya fayli (Railway da volume yoki /tmp)
SESSIONS_FILE=/tmp/hrmm_bot_sessions.json

# Railway healthcheck uchun (ixtiyoriy)
PORT=8080
